.calendar-container {
    max-height: 600px; 
    overflow-y: auto;
    
    padding: 20px;
}


.calendar-title {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid #ccc ;
    border-radius: 70%;
    opacity: 90%;
    color: red;
}

.Sun {
    background-color: red !important;
    color: white !important;
    
    
    opacity: 80%;
}

table{
    opacity: 90%;
    
    
}

.img-fluid{
    width: 100%;
    height: auto;
}


